.wh{
    width: 200px;
    height: 200px;
}

.a{
    background-color: blue;
}

.s{
    background-color: red;
}
.d{
    background-color: green;
}
.y{
    background-color: yellow;
}

.key{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    color: white;
}